* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: white;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #08A6E4;
    border-radius: 23px;
    padding: 16px 57px;
}

.ordering,
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */


/* NAWIGACJA */

.nav-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1052px;
    margin-bottom: 130px;
    height: 70px;
}

.navigation {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .29);
}

.header-logo {
    color: #08A6E4;
    font-size: 2rem;
    font-weight: 300;
}

.navigation-list {
    height: 100%;
    display: flex;
}

.navigation-list-element {
    margin-left: 95px;
    height: 70px;
}


.list-element {
    display: inline-block;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 11px;
    color: #000;
    letter-spacing: 3.28px;
    position: relative;
}

.list-element::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: .3s;
    position: absolute;
    bottom: 0;
    left: 0;

}

.list-element:hover::after {
    background-color: #08A6E4;
}

/* KONIEC NAWIGACJI */

.banner-title {
    font-size: 3.0625rem;
    font-family: "Raleway", sans-serif;
    line-height: 57px;
    margin-bottom: 20px;
}

.banner-text {
    margin-bottom: 38px;
}

.banner-btn {
    padding: 22px 157px;
    border-radius: 40px;
}

.banner-image {
    background-image: url("../assets/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    width: 100%;
}

/* SEKCJA 1 */

.section-title {
    margin: 100px 0;
    font-size: 2.25rem;
    font-family: "Raleway", sans-serif;
}

.section-box {
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.ellipse {
    width: 62.71px;
    height: 62.71px;
    border-radius: 50%;
    position: relative;
}

.red {
    background-color: #FB3B64;
}

.blue {
    background-color: #08A6E4;
}

.green {
    background-color: #55DFB4;
}

.ellipse .item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
}

.box-number {
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 5.96px;
    margin: 10px 0;
}

.box-text {
    font-family: "Raleway", sans-serif;
    color: #A5A5A5;
    font-size: 1.0625rem;
    line-height: 1.25rem;
}

/* SEKCJA 2 */

.content {
    background-color: #F7F7F7;
    padding: 105px 0;
}

.content-container {
    max-width: 70vw;

}

/* BOX1 */
.content-box {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 37px;
    height: 370px;

}

.section-text {
    font-size: 1rem;
    width: 416px;
    line-height: 22px;
    padding: 30px 0 50px 0;
}

.h2-content {
    margin: 0;
}

.section-content {
    padding: 0 0 0 31px;
}

.section-content::after {
    content: '';
    display: block;
    width: 300px;
    height: 4px;
    background-color: #FB3B64;
}

.content-images {
    position: relative;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-items {
    width: 75%;
    z-index: 2;
    position: relative;
}

.image-square {
    width: 160px;
    height: 160px;
    background-color: #FB3B64;
    position: absolute;
    top: 25%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 40px;
    z-index: 1;
}

/* BOX2 */

.image-circle {
    width: 300px;
    height: 300px;
    background-color: #08A6E4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
}

.content-box:nth-child(2) .section-content::after {
    background-color: #08A6E4
}

/* BOX 3 */
.content-box:last-child {
    background-color: #F7F7F7;
    margin-bottom: 0;
}

.content-box:last-child .section-content {
    background-color: white;
    height: 100%;
    margin-right: 60px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.content-box:last-child .content-images {
    background-color: #55DFB4;
    height: 100%;
    width: 40%;
}

.content-box:nth-child(3) .section-content::after {
    background-color: #55DFB4;
}

/* SEKCJA 3  PRICING */

.section-container {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.h2-pricing {
    margin: 100px 0 50px 0;
}

.title-pricing {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 31px;
    margin-bottom: 14px;
}

.pricing-value {
    font-size: 2.875rem;
    color: #FB3B64;
    font-family: "Open Sans";
    font-weight: 300;
}

.offer {
    color: black;
    font-size: 0.75rem;
    font-weight: 700;
    margin: 20px 0 50px 0;
}

.section-container .box-pricing:nth-child(2) .offer {
    margin-bottom: 61px;
}

.section-container .box-pricing:nth-child(1) .offer {
    visibility: hidden;

}

.box-pricing {
    border: 1px solid #FB3B64;
    border-radius: 18px;
    width: 320px;
    margin-bottom: 155px;
    position: relative;
}


.pricing a {
    font-size: 0.8125rem;
    position: absolute;
    bottom: -20px;
}

.pricing-form {
    line-height: 41px;
    font-size: 0.875rem;
    display: flex;
}

.checkbox {
    display: inline-block;
    position: relative;
}

.checkbox::after {
    content: "";
    display: inline-block;
    background-image: url("/assets/Ckechmark-1.svg");
    background-size: cover;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
}

.error .checkbox::after {
    background-image: url("/assets/Close.svg");
}

.box-pricing:nth-child(2) .pricing-form {
    line-height: 48px;
}

.pricing-form:last-child {
    margin-bottom: 60px;
}

.section-container .box-pricing:nth-child(2) {
    border-color: #08A6E4;
    box-shadow: 5px 10px 27px #07ACE629;
}

.section-container .box-pricing:last-child {
    border-color: #55DFB4;
}

.blue-pricing {
    color: #08A6E4;
}

.green-pricing {
    color: #55DFB4;
}

/* SEKCJA 4 KALKULATOR */
.calculator {
    background-color: #F7F7F7;
    padding-bottom: 109px;
}

.calculator>.section-title {
    margin: 87px auto 57px auto;
}

.calculator-box {
    width: 70vw;
    display: flex;
    justify-content: space-between;
}

.orders {
    height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.main-calculator {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.calc-input {
    outline: none;
    margin-bottom: 20px;
    height: 40px;
    box-shadow: 0px 3px 6px #08A6E429;
    border: 1px solid #08A6E4;
    border-radius: 6px;
    padding-left: 20px;

}

select.calc-input:focus option:first-of-type {
    display: none;
}

.calc-input {
    color: #707070;
    font-size: 0.8125rem;
}

.checkbox-label {
    display: flex;
    align-items: center;
    height: 24px;
    margin-bottom: 20px;
    color: #707070;
    line-height: 17px;
    font-size: 0.75rem;
}

.calc-checkbox[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 24px;
    height: 24px;
    display: block;
    border: 1px solid #95989A;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
}

.calc-checkbox[type="checkbox"]:checked::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-image: url("/assets/Checkmark.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.calc-row {
    background-color: #55DFB4;
    width: 100%;
    height: 31px;
    margin-bottom: 8px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.calc-row>span {
    color: white;
    font-size: 0.875rem;
}

.value-btn {
    background-color: #08A6E4;
    width: 50%;
    color: white;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    height: 38px;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.value-btn span {
    display: inline-block;
}

.calc-total {
    font-size: 0.875rem;
}

.value {
    font-size: 1.25rem;
}


/* FORMULARZ SEKCJA 5 */
.contact {
    margin: 100px auto 60px auto;
    width: 70vw;
    display: flex;
    justify-content: space-between;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 300px;
}

.contact-text {
    font-size: 1rem;
    line-height: 22px;
    padding-bottom: 40px;
}

.contact-icons {
    display: flex;
    align-items: center;
}

.contact-icons span {
    padding: 0 20px 0 10px;
}

.contact span {
    color: #A5A5A5;
}

/* FORMULARZ */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    color: #08A6E4;

}

.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.last-field {
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 20px;

}

.last-field input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 24px;
    height: 24px;
    display: flex;
    flex-shrink: 0;
    margin-right: 10px;
    border: 1px solid #95989A;
    border-radius: 4px;
    position: relative;
}

.last-field input[type="checkbox"]:checked::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-image: url("/assets/Checkmark.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.input {
    height: 43px;
    border: none;
    line-height: 40px;
    border-bottom: 1px solid #A5A5A5;
}

.form-field:first-child {
    margin-bottom: 57px;
}

.name-input {
    text-transform: uppercase;
    font-size: 0.6875rem;
    font-weight: 700;
}

.form-field p {
    font-size: 0.75rem;
}

.form-button {
    padding: 20px 97px;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    border-style: none;
}


/* STOPKA */
footer {
    width: 100%;
    box-shadow: 0px -5px 40px #00000029;

}

footer .container {
    height: 89px;
    margin: 0 auto;
}

.footer-content {
    font-size: 0.6875rem;
    color: #A5A5A5;
    line-height: 15px;
    padding-top: 10px;
}

.footer-media {
    height: 100%;
    width: 50%;
}